html{
    background-color: gray;
    font-family:  Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1300px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

/* header */

.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

/* primeira imágem */
.featured-image{
    text-align: center;
    margin-top: 30px;
}

.featured-image img{
    max-width: 100%;
    height: auto;
}

/* Biografia */
.biography-container{
    padding: 25px 0;
    margin: 25px 30px ;
    border-top: 3px dashed gray;
    border-bottom: 3px dashed gray;
}

.bold{
    font-weight: bold;
}

/* Quotes */
.quotes-container{
    background-color: gray;
    padding: 30px;
}

.quotes-container blockquote{
    font-size: 30px;
    font-weight: bold;
}

.quotes-container p{
    font-style: italic;
}

/* Curiosidades */
.curiosities-container{
    height: auto;
    padding: 25px 0;
    margin: 25px 30px;
    border-top: 3px dashed gray;
    border-bottom: 3px dashed gray;
}



.curiosities-container li{
    height: auto;
    
}

/* imagem bold */
.img-bold{
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around ;
}

.img-bold img{
    width: 100%;
    height: auto;
}

.more-info{
    padding: 25px 0;
    margin: 25px 30px ;
}

footer{
    text-align: center;
    color: black;
    margin: 5px 5px;
    position: sticky;
}



@media(max-width: 1150px){
    .container{
        overflow-x: hidden;
        padding: 0;
    }
}